<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>Add New Post</h2>
</div>

<form action="/add-post" method="POST">
    <label for="topic"><b>Topic</b></label>
    <div>
        <!-- <input type="radio" name="topic" value="About"/>
        <label for="About">About</label> -->

        <input type="radio" name="topic" value="Experience"/>
        <label for="Experience">Experience</label>

        <input type="radio" name="topic" value="Project"/>
        <label for="Project">Project</label>
    </div>

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title">

    <label for="content"><b>Content</b></label>
    <textarea name="content" cols="50" rows="10"></textarea>

    <label for="startDate">Start Date (MM-YYYY):</label>
    <input type="text" id="startDate" name="startDate" placeholder="MM-YYYY" pattern="^(0[1-9]|1[0-2])-\d{4}$" required>
    
    <label for="endDate">End Date (MM-YYYY):</label>
    <input type="text" id="endDate" name="endDate" placeholder="MM-YYYY" pattern="^(0[1-9]|1[0-2])-\d{4}$" required>
     
    <input type="submit" value="Add" class="submit-btn">
</form>