<h1 aria-label="Login Page">Login :&#41</h1>

<form action="/admin" method="POST">
    <label for="username" aria-label="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password" aria-label="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Login" class="submit-btn">

</form>

<!-- <h2 aria-label="register">Register</h2>

<form action="/register" method="POST">
    <label for="username" aria-label="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password" aria-label="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Register" class="submit-btn">

</form> -->