<header class="admin-header">
    <h1>Admin Page</h1>

    <div class="header-button">
        <a href="/logout">
            <button class="logout-btn">Logout</button>
        </a>
       
    </div>

</header>