<header class="admin-header">
    <h1>Admin Page</h1>

    <div class="header-btn">
        <a href="/">
            <button class="back-btn">Main Page</button>
        </a>

        <a href="/logout">
            <button class="logout-btn">Logout</button>
        </a>
    </div>

</header>