body {
    background-color: hsl(164, 85%, 8%) ;
    color: white;
}

.section h2 {
    color: #CA6501;
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        padding:4rem;
        justify-content: space-between;
    }

    .header{
        position: sticky;
        top: 0;
        max-height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .header-content {
        position: fixed;
    }


    h1{
        font-size: 4rem;
        margin-block-start: 0;
        margin: 0;
    }
    
    main{
        width: 50%;
    }

    .nav-hidden {
        display: block;
    }

    .nav-hidden ul, .nav-hidden li , .nav-hidden a {
        list-style: none;
        text-decoration: none;
        color: inherit;
        font-size: 20px ;
        justify-content: space-between;
        padding-top: .75rem;
        padding-bottom: .75rem;
        padding-inline-start: 0;
    }

    .nav-hidden li:before {
        content: "*";
        color: #CA6501;
    }

    .nav-hidden a:hover{
        color: #CA6501;
        font-weight: bold;
    }

    .nav-hidden a{
        padding-left: 5%;
    }

    input{
        padding: 0.5rem;
        border-radius: 1rem;
        border-style: none;
        margin-bottom: .5rem;
        max-width: 75%;
    }
}

@media (max-width: 1024px) {
    .container{
        padding:2rem;
    }

    .nav-hidden{
        display: none;
    }

    input, .submit-btn{
        padding: 0.5rem;
        border-radius: 1rem;
        border-style: none;
        margin-bottom: .5rem;
        max-width: 50%;
    }

    .submit-btn{
        background-color: #CA6501;
        margin-top: 2rem;
        border-style: none;
        font-size: medium;
        max-width: 52%;
    } 

    .admin-header, .admin-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

  
}

@media (min-width: 750px){
    .grid-container{
        display: grid;
        grid-template-columns: 30% 70%;
        padding-bottom: 1rem;
    }

    .admin-grid-container{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}

@media (max-width: 850px) {
    .grid-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
}

.list-date{
    color: rgba(255, 255, 255, 0.736);
    font-size: medium;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}

.list-title{
    font-size: large;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.list-content, .list-link{
    padding-bottom: 0.5rem;
}

.list-link a:not(:empty)::before {
    content: "\261B";
    padding-right: 0.5rem;
    color: white;
}

.list-link a{
    text-decoration: none;
    font-style: italic;
    color: #CA6501;
    padding-bottom: 1rem;
}

.list-link a:hover {
    color: white;
}

ul,li{
    list-style: none;
    padding: 0;
}

.social {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10%;
    padding-inline-start: 0;
    padding-left: 1rem;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    justify-content: space-between;
    padding-top: .75rem;
    padding-bottom: .75rem;        
}

.admin-post-controls {  
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.admin-description{
    display: flex;
    flex-direction: column;
}

.edit-btn, .delete-btn, .logout-btn, .add-btn, .submit-btn, .back-btn{
    margin-top: 1rem;
    border-style: none;
    font-size: medium;
    max-width: max-content;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
}

.edit-btn, .add-btn{
    background-color: white;  
}

.delete-btn, .logout-btn{
    background-color: #CA6501;  
}

.radio-btn input {
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.radio-btn label {
    margin-right: 20px; 
}

.text-area {
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.req-label::after{
    content: "*";
    color: #CA6501;
}

footer{
    position: relative;
    height: 60px;
    margin-top: auto;
}

.admin-btn {
    text-decoration: none;
    color: inherit;
}

.admin-btn:hover{
    color:#CA6501;
}

.list-keyword ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: auto;
    padding-bottom: 0.5rem;
}

.list-keyword li {
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    border-color: #CA6501;
    border-style: solid;
    max-height: min-content;
}

.top-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-btn{
    display: flex;
    gap: 2rem;
    
}